@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.hover-animation {
  @apply transition-all delay-150 duration-300 ease-in-out;
}

* {
  padding: 0;
  margin: 0;
}

.gradient-home {
  background: rgb(26, 34, 127);
  background: linear-gradient(90deg, rgba(26, 34, 127, 1) 0%, rgba(26, 34, 127, 1) 32%, rgba(3, 44, 138, 1) 42%, rgba(11, 124, 182, 1) 72%, rgba(0, 212, 255, 1) 100%);
}

@font-face {
  font-family: 'AntroVectraBold';
  src: url('$lib/assets/fonts/antro_vectra_bold.otf');
  font-display: swap;
}

.antro-vectra {
  font-family: 'AntroVectraBold';
}

@font-face {
  font-family: 'UrbanistLight';
  src: url('$lib/assets/fonts/urbanist_light.ttf');
  font-display: swap;
}

.urbanist-light {
  font-family: 'UrbanistLight';
}

@font-face {
  font-family: 'UrbanistRegular';
  src: url('$lib/assets/fonts/urbanist_regular.ttf');
  font-display: swap;
}

.urbanist-regular {
  font-family: 'UrbanistRegular';
}

@font-face {
  font-family: 'UrbanistThin';
  src: url('$lib/assets/fonts/urbanist_thin.ttf');
  font-display: swap;
}

.urbanist-thin {
  font-family: 'UrbanistThin';
}

@font-face {
  font-family: 'UrbanistBold';
  src: url('$lib/assets/fonts/urbanist_bold.ttf');
  font-display: swap;
}

.urbanist-bold {
  font-family: 'UrbanistBold';
}

@font-face {
  font-family: 'UrbanistSemiBold';
  src: url('$lib/assets/fonts/urbanist_semibold.ttf');
  font-display: swap;
}

.urbanist-semibold {
  font-family: 'UrbanistSemiBold';
}

@font-face {
  font-family: 'urbanistLight';
  src: url('$lib/assets/fonts/urbanist_light.ttf');
  font-display: swap;
}

.urbanist-light {
  font-family: 'urbanistLight';
}

@font-face {
  font-family: 'porkysRegular';
  src: url('$lib/assets/fonts/porkys_regular.ttf');
  font-display: swap;
}

.porkys-regular {
  font-family: 'porkysRegular';
}