@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'AntroVectraBold';
  src: url('$lib/assets/fonts/antro_vectra_bold.otf');
  font-display: swap;
}

.antro-vectra {
  font-family: 'AntroVectraBold';
}


@font-face {
  font-family: 'UrbanistLight';
  src: url('$lib/assets/fonts/urbanist_light.ttf');
  font-display: swap;
}

.urbanist-light {
  font-family: 'UrbanistLight';
}


@font-face {
  font-family: 'UrbanistRegular';
  src: url('$lib/assets/fonts/urbanist_regular.ttf');
  font-display: swap;
}

.urbanist-regular {
  font-family: 'UrbanistRegular';
}


@font-face {
  font-family: 'UrbanistThin';
  src: url('$lib/assets/fonts/urbanist_thin.ttf');
  font-display: swap;
}

.urbanist-thin {
  font-family: 'UrbanistThin';
}

@font-face {
  font-family: 'UrbanistBold';
  src: url('$lib/assets/fonts/urbanist_bold.ttf');
  font-display: swap;
}

.urbanist-bold {
  font-family: 'UrbanistBold';
}


@font-face {
  font-family: 'urbanistLight';
  src: url('$lib/assets/fonts/urbanist_light.ttf');
  font-display: swap;
}

.urbanist-light {
  font-family: 'urbanistLight';
}


.fade-in {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
